<mat-tab-group mat-align-tabs="center" class="matTabGroupClass" backgroundColor="disabled" color="accent">

  <div class="oref-indicator" *ngIf="isSecurityCheckRunning">
    <mat-icon>security</mat-icon> Oref Security Check is Running
  </div>


  <mat-tab *ngIf="viewAutomaticPermissions">
    <ng-template mat-tab-label>
      {{ titles.main.tabs.automatic }}
    </ng-template>
    <app-automatic-activation></app-automatic-activation>
  </mat-tab>

  <mat-tab *ngIf="viewManualPermissions">
    <ng-template mat-tab-label>
      {{ titles.main.tabs.manual }}
    </ng-template>
    <app-manual-activation></app-manual-activation>
  </mat-tab>

  <mat-tab *ngIf="viewConfigPermissions">
    <ng-template mat-tab-label>
      {{ titles.main.tabs.config }}
    </ng-template>
    <app-configuration></app-configuration>
  </mat-tab>


</mat-tab-group>