<div class="dialog-container">
  <div class="message-title">
    {{ titles.dialogs.scheduleCourse.header[isNew ? 'new' : 'update'] }}
    <mat-icon (click)="closeDialog()" svgIcon="window-close" class="close-dialog"></mat-icon>
  </div>
  <hr class="line">
  <div class="body-content">

    <div class="two-fields-container">

      <div class="field-container">
        <h4>
          {{ titles.dialogs.scheduleCourse.labels.courseName }}
        </h4>
        <mat-form-field>
          <mat-select [(value)]="selectedCourse" (selectionChange)="onCourseSelectedChange()"
            placeholder="{{ titles.dialogs.scheduleCourse.placeHolders.courseName }}">
            <mat-option *ngFor="let course of courses" [value]="course">
              {{ titles.general.typesValues.courses[course.name] }}
              <div *ngIf="course.isTest" class="test-course-label">
                ({{ titles.dialogs.scheduleCourse.labels.isTest }})
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="field-container">
        <h4>
          {{ titles.dialogs.scheduleCourse.labels.dayStart }}
        </h4>
        <mat-form-field>
          <mat-select [(value)]="selectedStartFromDay" (selectionChange)="onStartFromDaySelectedChange()"
            placeholder="{{ titles.dialogs.scheduleCourse.placeHolders.dayStart }}">
            <mat-option *ngFor="let startDay of startDayArray" [value]="startDay">
              {{ startDay }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div>

    <div class="two-fields-container">
      <div class="field-container">
        <h4>
          {{ titles.dialogs.scheduleCourse.labels.date }}
        </h4>
        <div class="date-picker">

          <md2-datepicker [isOpen]="datePickerIsOpened" (onClose)="datePickerIsOpened = false" (change)="changed()"
            [startAt]="selectedStartDate" [(ngModel)]="selectedDateInPopup" [disabled]="!selectedCourse"
            [touchUi]="true" [dateFilter]="dateFilter" [min]="minStartDate" type="date">

          </md2-datepicker>
        </div>
        <div class="date-display-container">
          <button mat-icon-button (click)="openDatePicker()" [disabled]="!selectedCourse">
            <mat-icon svgIcon="calendar-today"></mat-icon>
          </button>
          <span class="start-date-display" (click)="selectedCourse && openDatePicker()"
            [ngClass]="{'start-date-display-disabled': !selectedCourse}">
            {{selectedStartDate | date:'yyyy-MM-dd'}}
          </span>
        </div>
      </div>


      <div class="field-container" [ngStyle]="{ 'visibility' : (selectedCourse && selectedCourse.isTest)?'':'hidden'}">
        <h4>
          {{ titles.dialogs.scheduleCourse.labels.testHoursRange }}
        </h4>
        <div class="hours-range-container">

          <input matInput type="number" #hoursRangeStart="ngModel" class="hour-range" required min="0" max="23"
            [(ngModel)]="testHoursRangeStart"
            (ngModelChange)="testHoursRangeEnd<testHoursRangeStart ? testHoursRangeEnd=testHoursRangeStart : ''"
            placeholder="{{ titles.dialogs.scheduleCourse.labels.testHoursRangeStart }}">

          <div class="hours-range-seperation">-</div>

          <input matInput type="number" #hoursRangeEnd="ngModel" class="hour-range" required
            [min]="testHoursRangeStart ? testHoursRangeStart : 0" min="0" max="23" [(ngModel)]="testHoursRangeEnd"
            [disabled]="testHoursRangeStart === undefined"
            placeholder="{{ titles.dialogs.scheduleCourse.labels.testHoursRangeEnd }}">
        </div>
      </div>
    </div>

  </div> <!--body-content-->

  <div class="buttons-container">
    <button mat-raised-button color="basic" (click)="closeDialog()">
      {{ titles.dialogs.scheduleCourse.buttons.cancel }}
    </button>
    <button mat-raised-button color="primary" (click)="scheduleCourse()" [disabled]="!selectedCourse ||
            ( selectedCourse.isTest ? ( hoursRangeStart.invalid || hoursRangeEnd.invalid):false)"
      class="schedule-course-button">
      {{ titles.dialogs.scheduleCourse.buttons.scheduleCourse }}
    </button>
  </div>

</div>