<div class="dialog-container">
  <div class="message-title">
    {{ titles.dialogs.editUser.header[data.action] }}
    <mat-icon (click)="closeDialog()" svgIcon="window-close" class="close-dialog"></mat-icon>
  </div>
  <hr class="line">

  <div class="body-content">

    <!-- ID-->
    <div class="field-container">
      <h4>
        {{ titles.dialogs.editUser.labels.id }}
      </h4>
      <mat-form-field>
        <input #idInput="ngModel" matInput type="text" required [(ngModel)]="data.user.id"
          [disabled]="data.action !== actionEnum.NEW" (ngModelChange)="onInputChanged(idInput.dirty,passInput.dirty)"
          placeholder="{{ titles.dialogs.editUser.placeholders.id }}">
      </mat-form-field>
      <div *ngIf="errorMessages['id']">
        {{ titles.dialogs.editUser.errorMessages[errorMessages['id']] }}
      </div>
    </div>

    <!-- ROLE -->
    <div class="field-container">
      <h4>
        {{ titles.dialogs.editUser.labels.role }}
      </h4>
      <mat-form-field>
        <mat-select [(value)]="data.user.role" [disabled]="data.action === actionEnum.PASSWORD"
          (selectionChange)="onInputChanged(idInput.dirty,passInput.dirty)"
          placeholder="{{ titles.dialogs.editUser.placeholders.role }}">
          <mat-option *ngFor="let role of data.rolesArray" [value]="role">
            {{ role }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Password-->
    <div class="field-container" [style.visibility]="data.action !== actionEnum.UPDATE?'visible':'hidden'">
      <h4>
        {{ titles.dialogs.editUser.labels.pass }}
      </h4>
      <mat-form-field>
        <input #passInput="ngModel" matInput type="text" required [(ngModel)]="data.user.password"
          (ngModelChange)="onInputChanged(idInput.dirty,passInput.dirty)"
          placeholder="{{ titles.dialogs.editUser.placeholders.pass }}">
      </mat-form-field>
      <div *ngIf="errorMessages['pass']">
        {{ titles.dialogs.editUser.errorMessages[errorMessages['pass']] }}
      </div>
    </div>

  </div> <!--body-content-->

  <div class="buttons-container">
    <button mat-raised-button color="basic" (click)="closeDialog()">
      {{ titles.dialogs.editUser.buttons.cancel }}
    </button>
    <button mat-raised-button color="primary" (click)="submitContent()" [disabled]="!isFormValid"
      class="edit-user-submit-button">
      {{ titles.dialogs.editUser.buttons[data.action + 'Submit'] }}
    </button>
  </div>

</div>